Repository hook0/hook0: changes, and which GitLab CI jobs are due for each by the changed paths.
All: rust.check, frontend

rust.check:
  image: rust:$RUST_VERSION
  services:
  - postgres:$PG_VERSION
  before_script:
  - rustc --version && cargo --version
  - rustup component add clippy
  - rustup component add rustfmt
  script:
  - cargo fmt --all -- --check
  - pushd sentry-integration
  - cargo clippy --all-targets --all-features -- -D warnings
  ...

frontend:
  image: node:$NODE_VERSION
  script:
  - pushd frontend
  - npm ci
  - npm run build
  artifacts:
    name: $CI_BUILD_NAME
    paths:
    - frontend/dist/

fix: ci
  website/.gitlab-ci.yml
Due: none

fix: ci (should be the last time)
  frontend/.gitlab-ci.yml
  website/.gitlab-ci.yml
Due: frontend

ci: build using Rust 1.57
  .gitlab-ci.yml
Due: none

chore: update dependencies
  Cargo.lock
Due: none

fix: warning
  api/src/keycloak_api.rs
Due: rust.check

ci: fix website release job
  website/.gitlab-ci.yml
Due: none

feat: add input validation infrastructure
  Cargo.lock
  api/Cargo.toml
  api/src/handlers/applications.rs
  api/src/problems.rs
Due: rust.check

refactor: improve naming
  api/src/problems.rs
Due: rust.check

Path conditions:
  rust.check: any of: api/**/*, output-worker/**/*, sentry-integration/**/*
  frontend: any of: frontend/**/*, mediakit/**/*
